.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

.sideBar {
  width: 30%;
}

.mainContent {
  width: 70%;
}

@media (max-width:1025px) {
  .sideBar {
      width: 90vw;
      display: none;
  }
  .main_content {
      display: block;
      width: 100vw;
  }
  .main_content h1{
     font-size: 1.5em;
  }
  .img{
    max-width: 100%;
  }

}